form{
    padding-top: 7%;
}
body{
    text-align: center;
}
p{
    text-align: end;
    font-size: 16px;
    font-weight: bold;
}
.col-6{
    text-align: left;
}
#submit{
    padding: 1% 4%;
    color: white;
    background: #007bff !important;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    transition: all 1s;
}
#submit:hover{
    background: #007BA4;
}
#button{
    text-align: center;
}