{% extends "base.html"%}
{% block content %}
<link rel="stylesheet" href="/static/css/profile.css"> 

<div class="row justify-content-center">
    {% for item in items  %}
        
        <div class="col-md-3 bag">
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <a href='../item/{{item.item_id}}'>
                        <img src="/static/images/{{ item.photo_hash }}.jpg" class="card-img-top"> 
                    </a>
                    
                    <div class="card-body">
                      <h5 class="card-title">{{ item.name }}</h5>
                      <p class="card-text">Цена: {{ item.cost }}</p>
                      <a href="../item/{{item.item_id}}" class="btn btn-primary">Перейти к товару</a>
                    </div>
                </div>
            </div>
        </div>
    
    {% endfor %}
</div>
{% endblock %}
